.icon-badge-container {
    position: relative;
    display: inline-block;
}

.icon {
    font-size: 22px;
}
.icon-badge-container .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform: scale(0.8); /* Ajusta el tamaño del badge si es necesario */
}

.ul {
    line-height:0.5 !important;
   
}
.items{
    font-size: 12px;
   

}